# Copyright Strimzi authors.
# License: Apache License 2.0 (see the file LICENSE or http://apache.org/licenses/LICENSE-2.0.html).
# dependancies
node_modules/

# built content
dist/
.out/
js/

# test/supporting generated content
generated/
coverage/
e2e/failure_output
.out/

# misc
.history
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.eslintcache

#IDEs
.vscode/
.idea/