# Copyright Strimzi authors.
# License: Apache License 2.0 (see the file LICENSE or http://apache.org/licenses/LICENSE-2.0.html).
# eslint ignore file - files/directories to be excluded

# negated files/directories to be included
# Directories that start with dots are excluded by default, causing eslint warnings
!.storybook/
!.github/
dist
